@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container">

    <h1 class="text-center">Registros</h1>

    <div class="row border border-dark rounded pb-3 pt-3 pr-3 mt-4 mb-4">
        <div class="col-md-12">
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="ContratosBT">Contratos</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="AlquileresBT">Alquileres</button>
        </div>
    </div>

    <div class="row border border-dark rounded pb-4 pr-3">
        <div class="col-md-4">
            <div class="text-center pt-2 pb-1"><h3>Personas</h3></div>

            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="InquilinosBT">Inqulinos</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="GarantesBT">Garantes</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="PropietariosBT">Propietarios</button>
        </div>

        <div class="col-md-4">
            <div class="text-center pt-2 pb-1"><h3>Inmuebles</h3></div>

            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="DepartamentoBT">Departamento</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="CasaBT">Casa</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="CocheraBT">Cochera</button>
        </div>

        <div class="col-md-4">
            <div class="text-center pt-2 pb-1"><h3>Obligaciones</h3></div>

            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="ImpuestosBT">Impuestos</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="ServiciosBT">Servicios</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block pt-1 pb-1 m-2" id="InmobiliariasBT">Inmobiliaria</button>
        </div>

    </div>
</div>

<div class="pt-4">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver</a>"
</div>
