@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Control Inmobiliario</h1>
</div>



<div class="container p-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Alquileres</h5>
                    <p class="card-text">Ingresos, Resportes, Consultas...</p>
                    <a class="btn btn-primary" asp-controller="Alquileres" asp-action="index">Alquileres</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Registros</h5>
                    <p class="card-text">Contratos, inquilinos, garantes, propiedades...</p>
                    <a class="btn btn-primary" asp-controller="Registros" asp-action="index">Registros</a>
                </div>
            </div>
        </div>

    </div>
   
</div>

<div class="container p-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Cobros</h5>
                    <p class="card-text">Cobro por couta mensual, multas entre otros</p>
                    <a a class="btn btn-primary" asp-controller="CobroCuotaDepartamentos" asp-action="index">Ir a Cobros</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Pagos</h5>
                    <p class="card-text">Obligaciones por impuestos, servicios entre otros</p>
                    <a href="#" class="btn btn-primary">Ir a Pagos</a>
                </div>
            </div>
        </div>
    </div>
</div>

