@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Control Inmobiliario</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Controle los ingresos de sus imnueles</h3>
<h2>LLeve el registro de los mismos</h2>

<div class="container p-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Registros</h5>
                    <p class="card-text">Registre sus inmuebles, inquilinos, garantes entre otros.</p>
                    <a class="btn btn-primary" asp-controller="Registros" asp-action="index">Ir a la seccion</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Reportes</h5>
                    <p class="card-text">Consulte sus ingresos, egresos y todos sus movimientos</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
   
</div>

<div class="container p-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Cobros</h5>
                    <p class="card-text">Registre sus ingresos periódicos y otros ingresos.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="card-title">Pagos</h5>
                    <p class="card-text">Ingrese los pagos por impuestos, servicios y otras obligaciones.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

