@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div> Motivos de la pagina</div>

<div>
    <ul>
        <li>Administra tus propiedades.</li>
        <li>Controla tus ventas, alquileres, tus ingresos y más....</li>
        <li>Recibe alertas antes que tus contratos finalicen.</li>
        <li>Ten un registro de inquilinos y garantes.</li>
        <li>Controla diferencias con agencias inmobiliarias.</li>
        <li>Registra todos tus moviminetos!!!!!!</li>
    </ul>
</div>

