@model Control_Inmuebles.Models.Movimientos.Alquiler

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alquiler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContratoDepartamentoId" class="control-label"></label>
                <input asp-for="ContratoDepartamentoId" class="form-control" />
                <span asp-validation-for="ContratoDepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdificioId" class="control-label"></label>
                <input asp-for="EdificioId" class="form-control" />
                <span asp-validation-for="EdificioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <input asp-for="DepartamentoId" class="form-control" />
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAgua" class="control-label"></label>
                <input asp-for="ValorAgua" class="form-control" />
                <span asp-validation-for="ValorAgua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorRentas" class="control-label"></label>
                <input asp-for="ValorRentas" class="form-control" />
                <span asp-validation-for="ValorRentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMunicipalidad" class="control-label"></label>
                <input asp-for="ValorMunicipalidad" class="form-control" />
                <span asp-validation-for="ValorMunicipalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
