@model Control_Inmuebles.Models.Vinculos.Contrato

@{
    ViewData["Title"] = "Create";
    SelectList ListaInquilinos = ViewBag.ListaInquilino;
    SelectList ListaPropietario = ViewBag.ListaPropietario;
    SelectList ListaGarante = ViewBag.ListaGarante;
    SelectList ListaEdificios = ViewBag.ListaEdificios;
    SelectList ListaCasa = ViewBag.ListaCasa;
    SelectList ListaCochera = ViewBag.ListaCochera;
}

<h1>Create</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AltaContrato" class="control-label"></label>
                <input asp-for="AltaContrato" class="form-control" />
                <span asp-validation-for="AltaContrato" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PlazoContrato" class="control-label"></label>
                <select asp-for="PlazoContrato" class="form-control">
                    <option>6 meses</option>
                    <option>2 años</option>
                    <option>3 años</option>
                </select>
                <span asp-validation-for="PlazoContrato" class="text-danger"></span>
            </div>


            @*<div class="form-group">
            <label asp-for="PlazoContrato" class="control-label"></label>
            <input asp-for="PlazoContrato" class="form-control" />
            <span asp-validation-for="PlazoContrato" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="ClausuraContrato" class="control-label"></label>
            <input asp-for="ClausuraContrato" class="form-control" />
            <span asp-validation-for="ClausuraContrato" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="PropietarioId" class="control-label"></label>
                <select asp-for="PropietarioId" asp-items="ListaPropietario" class="form-control"></select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select asp-for="InquilinoId" asp-items="ListaInquilinos" class="form-control"></select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Inmueble" class="control-label"></label>
            <input asp-for="Inmueble" class="form-control" />
            <span asp-validation-for="Inmueble" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="Inmueble" class="control-label"></label>
                <select asp-for="Inmueble" class="form-control" id="ElijeInmueble">
                    <option value="0">Seleccione inmueble</option>
                    <option value="Inmueble-Depto">Departamento</option>
                    <option value="Inmueble-Casa">Casa</option>
                    <option value="Inmueble-Cochera">Cochera</option>
                </select>
                <span asp-validation-for="Inmueble" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <select asp-for="DepartamentoId" asp-items="ListaEdificios" class="form-control" id="DepartamentoContrato" disabled></select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span> 
            </div>

             <div class="form-group">
                <label asp-for="CasaId" class="control-label"></label>
                <select asp-for="CasaId" asp-items="ListaCasa" class="form-control" id="CasaContrato" disabled></select>
                <span asp-validation-for="CasaId" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="CocheraId" class="control-label"></label>
                <select asp-for="CocheraId" asp-items="ListaCochera" class="form-control" id="CocheraContrato" disabled></select>
                <span asp-validation-for="CocheraId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValorContrato" class="control-label"></label>
                <input asp-for="ValorContrato" class="form-control" />
                <span asp-validation-for="ValorContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garante1" class="control-label"></label>
                <select asp-for="Garante1" asp-items="ListaGarante" class="form-control"></select>
                <span asp-validation-for="Garante1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garante2" class="control-label"></label>
                <select asp-for="Garante2" asp-items="ListaGarante" class="form-control"></select>
                <span asp-validation-for="Garante2" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
