@model Control_Inmuebles.Models.Vinculos.Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AltaContrato" class="control-label"></label>
                <input asp-for="AltaContrato" class="form-control" />
                <span asp-validation-for="AltaContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlazoContrato" class="control-label"></label>
                <input asp-for="PlazoContrato" class="form-control" />
                <span asp-validation-for="PlazoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClausuraContrato" class="control-label"></label>
                <input asp-for="ClausuraContrato" class="form-control" />
                <span asp-validation-for="ClausuraContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropietarioId" class="control-label"></label>
                <input asp-for="PropietarioId" class="form-control" />
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                <input asp-for="InquilinoId" class="form-control" />
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inmueble" class="control-label"></label>
                <input asp-for="Inmueble" class="form-control" />
                <span asp-validation-for="Inmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorContrato" class="control-label"></label>
                <input asp-for="ValorContrato" class="form-control" />
                <span asp-validation-for="ValorContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garante1" class="control-label"></label>
                <input asp-for="Garante1" class="form-control" />
                <span asp-validation-for="Garante1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garante2" class="control-label"></label>
                <input asp-for="Garante2" class="form-control" />
                <span asp-validation-for="Garante2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
