@model Control_Inmuebles.Models.Inmuebles.PisoInmueble

@{
    ViewData["Title"] = "Create";
    SelectList tipoBaseInmueble = ViewBag.ListaTipoInmueble;
    SelectList direcInmueble = ViewBag.ListaDirecInmueble;
}

<h1>Create</h1>

<h4>PisoInmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BaseInmuebleId" class="control-label"></label>
                <select asp-for="BaseInmuebleId" asp-items=direcInmueble class="form-control" id="DirecInmueble"></select>
                <span asp-validation-for="BaseInmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" id="Piso" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" id="CreaPisos" class="btn btn-primary" />
            </div>
        </form>

        <div class="form-group">
            <input type="submit" value="Genera" onclick="AgregaPiso()" class="btn btn-primary" />
        </div>

        <div id="PisosCreados"></div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   <script>

       function AgregaPiso() {
           var url = "/PisoInmuebles/AddPisos";
           var inmueble = $("#DirecInmueble").val();
           var piso = $("#Piso").val();

           //alert("inmueble: " + inmueble);
           //alert("piso" + piso);

           $.getJSON(url, { inmuebleId: inmueble, pisos: piso }, function (data) {

               var item = "";
               $.each(data, function (i, numpiso) {
                   item += '<div class="col-md-4">' + numpiso.baseInmuebleId + '</div> <div class="col-md-4">' + numpiso.descripcion + '</div>';
               });

               $("#PisosCreados").html(item);

           });
       }

   </script>

}
