@model Control_Inmuebles.Models.Inmuebles.PisoInmueble

@{
    ViewData["Title"] = "Create";
    SelectList direcInmueble = ViewBag.ListaDirecInmueble;
}

<h1>Create</h1>

<h4>PisoInmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BaseInmuebleId" class="control-label"></label>
                <select asp-for="BaseInmuebleId" asp-items=direcInmueble class="form-control" id="BaseInmuebleId-Create"></select>
                <span asp-validation-for="BaseInmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label" id="NumPiso"></label>
                <input asp-for="Descripcion" class="form-control" id="DescripcionPiso-Create" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" id="CreaPisos" class="btn btn-primary" />
            </div>


        </form>

        @*<div>
            <input type="submit" value="Genera" onclick="AgregaPiso()" class="btn btn-primary" />
            <input type="submit" value="Borrar" onclick="borrarPiso()" class="btn btn-primary" />
        </div>*@
        




    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   <script>

       $(document).ready(function () {
           var piso = "Numero de piso";
           $("#NumPiso").html(piso);
       });

      

       //function AgregaPiso() {
       //    var url = "/PisoInmuebles/AddPisos";
       //    var inmueble = $("#DirecInmueble").val();
       //    var piso = $("#Piso").val();

       //    //alert("inmueble: " + inmueble);
       //    //alert("piso" + piso);

       //    for (var i = 0; i < parseInt(piso); i++) {

       //        $.getJSON(url, { inmuebleId: inmueble, pisos: i.toString() }, function (data) {

       //            var item = "";

       //            $.each(data, function (i, numpiso) {
       //                item += '<div class="col-md-4">' + numpiso.baseInmuebleId + '</div> <div class="col-md-4">' + numpiso.descripcion + '</div>';
       //            });

       //            $("#PisosCreados").html(item);

       //        });
       //    }
       //}

   </script>

}
